<!doctype html>
<html>

<head>
    <title>dmusic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/icon.png">
    <link rel="stylesheet/less" type="text/css" href="/style.less">
    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/less.min.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</head>

<body>
    <header>
        <div>
            <audio id="audio" tabindex="300" controls src="" data-next="" data-nextind="-1" preload="auto"></audio>
        </div>
        <nav>
            <a href="/playlists">playlists</a>
            <a href="/favourites">favourites</a>
            <a href="/groups">groups</a>
            <a href="/albums">albums</a>
            <a href="/explore">explore</a>
            <a href="/upload">upload</a>
            <a href="/profile">{{ user }}</a>
        </nav>
    </header>
    <aside id="playlist">
        <ul>
            {{ tracks }}
        </ul>
    </aside>
    <main>
        <section>
            {{ content }}
        </section>
    </main>
</body>

</html>