<table class="prepare-disc">
    <tr>
        <th>#</th>
        <th colspan="2">Disc name</th>
        <th></th>
    </tr>
    <tr>
        <td>
            <input type="number" value="{{ num }}" name="num" autocomplete="off">
        </td>
        <td colspan="2">
            <input type="text" value="{{ name }}" name="name" autocomplete="off">
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <th>#</th>
        <th>Track name</th>
        <th>Uploaded name</th>
        <th>Extension</th>
    </tr>
    {{ tracks }}
</table>